In [2]:
# import libraries
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:

data = pd.read_csv(os.getcwd()+ "\logs\VGG11\Cifar10\VGG11_bs8_e20_id0.csv",sep= ';')



# get relevant columns
columns= []
index = data.columns
for ins in index:
    if 'train' in ins:
        if 'training' not in ins: # to be improved
            if '6' not in ins:
                columns.append(ins)
            
satdata = pd.read_csv(os.getcwd()+ "\logs\VGG11\Cifar10\VGG11_bs8_e20_id0.csv",sep= ';',usecols=columns)

satdata.index.name = 'Epoche'

gri = satdata.mean(axis=1)
pd.DataFrame(gri)
gri

Epoche
0     42.837778
1     43.814444
2     44.010000
3     43.857778
4     43.706667
5     43.555556
6     43.337778
7     43.056667
8     43.186667
9     43.055556
10    42.882222
11    42.751111
12    42.600000
13    42.556667
14    42.382222
15    42.273333
16    42.100000
17    41.948889
18    42.035556
19    41.905556
dtype: float64

In [3]:
df = pd.DataFrame({"A":[1, 2, 3, 2, 2], "B":[1, 2, 3, 3, 2],  "C":[1, 2, 3, 3, 8], "D":[1, 2, 3, 2, 6]}) 

df

   A  B  C  D
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  2  3  3  2
4  2  2  8  6

In [15]:
gri = df.mean(axis=1)
pd.DataFrame(gri)
gri.head()

0    1.0
1    2.0
2    3.0
3    2.5
4    4.5
dtype: float64